<div >
  <mat-sidenav-container class="kl-sidenav-container">
    <mat-sidenav-content>
      <ll-header ></ll-header>
      <main><router-outlet></router-outlet></main>


<div class="container">
  <div class="card">
    <div class="card-header">
      Upcoming Request
    </div>
    <div class="card-body">
      <h5 class="card-title">Body of the request</h5>
      <p class="card-text">Details of the request.</p>
      <a href="#" class="btn btn-warning">Accept</a>
      <a style="margin: 10px;" href="#" class="btn btn-danger">Decline</a>
    </div>
  </div>
</div>


      <ll-feature></ll-feature>
      <ll-footer></ll-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>




 