<div >
  <mat-sidenav-container class="kl-sidenav-container">
    <mat-sidenav-content>
      <ll-header ></ll-header>
      <main><router-outlet></router-outlet></main>



      <div class="w-full sm:w-1/2 mt-4 sm:mt-0 width">
        <div class="ll-dataset">
          <div class="ll-dataset__label">
            Name:
          </div>
          <div class="ll-dataset__value">
            {{client.client_name}}
          </div>
        </div>
      <div class="w-full sm:w-1/2 mt-4 sm:mt-0 width">
        <div class="ll-dataset">
          <div class="ll-dataset__label">
            Contact Number:
          </div>
          <div class="ll-dataset__value">
            {{client.client_mobile}}
          </div>
        </div>
        <div class="ll-dataset mt-4">
          <div class="ll-dataset__label">
            Address:
          </div>
          <div class="ll-dataset__value">
            {{client.client_address}}
          </div>
        </div>
        <div class="ll-dataset mt-4">
          <div class="ll-dataset__label">
            Email:
          </div>
          <div class="ll-dataset__value">
            {{client.client_email}}
          </div>
        </div>


      <ll-feature></ll-feature>
      <ll-footer></ll-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>