<div>
  <mat-sidenav-container class="kl-sidenav-container">
    <mat-sidenav-content>
      <ll-header></ll-header>
      <main><router-outlet></router-outlet></main>

      <div class="container">
        <div class="ll-section-head text-center mb-5">
          <h3 class="ll-section-head__heaidng">Handymen</h3>
          <h4 class="ll-section-head__subheading">Choose Your Handy Man</h4>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card">
              <img src="assets/images/paint1.jpg" class="card-img-top" alt="image" />
              <div class="card-body">
                <h5 class="card-title">Handyman</h5>
                <p class="card-text">This is a Handyman</p>
                <a href="/products/1">Profile</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="assets/images/paint2.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Handyman</h5>
                <p class="card-text">This is profile 2</p>
                <a href="/products/2">Profile</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="assets/images/paint1.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Handyman</h5>
                <p class="card-text">This is profile 3</p>
                <a href="/products/3">Profile</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="assets/images/paint2.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Handyman</h5>
                <p class="card-text">This is profile 4</p>
                <a href="/products/4">Profile</a>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card">
              <img src="assets/images/paint1.jpg" class="card-img-top" alt="image" />
              <div class="card-body">
                <h5 class="card-title">Handyman</h5>
                <p class="card-text">This is a Handyman</p>
                <a href="/products/1">Profile</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="assets/images/paint2.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Handyman</h5>
                <p class="card-text">This is profile 2</p>
                <a href="/products/2">Profile</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="assets/images/paint1.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Handyman</h5>
                <p class="card-text">This is profile 3</p>
                <a href="/products/3">Profile</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="assets/images/paint2.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Handyman</h5>
                <p class="card-text">This is profile 4</p>
                <a href="/products/4">Profile</a>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card">
              <img src="assets/images/paint1.jpg" class="card-img-top" alt="image" />
              <div class="card-body">
                <h5 class="card-title">Handyman</h5>
                <p class="card-text">This is a Handyman</p>
                <a href="/products/1">Profile</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="assets/images/paint2.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Handyman</h5>
                <p class="card-text">This is profile 2</p>
                <a href="/products/2">Profile</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="assets/images/paint1.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Handyman</h5>
                <p class="card-text">This is profile 3</p>
                <a href="/products/3">Profile</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="assets/images/paint2.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Handyman</h5>
                <p class="card-text">This is profile 4</p>
                <a href="/products/4">Profile</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ll-feature></ll-feature>
      <ll-footer></ll-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
