<div class="login__page" [style.background-image]="'url(assets/images/login-bg.jpg)'">
  <div class="login__row min-h-screen">
    <div class="login__hero flex flex-col justify-center items-center py-10 px-4 sm:px-8 xl:px-20 text-white">
      <a [routerLink]="['']" class="w-48 inline-block"><h1>Sallahly</h1></a>
      
      <!-- <a [routerLink]="['']" class="w-48 inline-block"><img src="assets/images/logo.png" alt="Lieblings" /></a> -->
      <h2 class="text-center mt-6">TO KEEP CONNECTED WITH LARGEST IN THE WORLD</h2>
    </div>
    <div class="login__content p-4 sm:p-8 flex flex-col justify-center bg-accent">
      <div class="login w-full max-w-xl rounded-md mx-auto border p-4 sm:p-8 xl:p-20">
        <form [formGroup]="formGroup">
          <h1 class="text-2xl font-bold">New Request</h1>
          <div class="mb-4 mt-6">
            <!-- <div class="invalid-feedback" *ngIf="controlHasError('required', 'Handyman_Mobile')">
              <span>Mobile Is Required</span>
            </div> -->
            <!-- <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'Handyman_Mobile')">
              <span>Mobile must be less than 11 digits</span>
            </div> -->
          </div>

          <!-- ////////////////////////////////////////////////////////////////////// -->


          <!-- /////////////////////////////////////////////////////////////////////////////////////////// -->

          <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////// -->

          <div class="mb-4 mt-6">
            <label class="block text-gray-700 text-sm font-semibold mb-2" for="request_Date"> Request Time </label>
            <input class="
                text-sm
                appearance-none
                rounded
                w-full
                py-2
                px-3
                text-gray-700
                bg-gray-100
                leading-tight
                focus:outline-none
                focus:shadow-outline
                h-10
              " id="request_Status" type="datetime-local" placeholder="Pending" formControlName="request_Date" />
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'request_Date')">
              <span>Request Date Is Required</span>
            </div>
          </div>

          <!-- ////////////////////////////////////////////////////////////////////////////////////////// -->

          <div class="flex mb-12 mt-12">
            <select name="method" class="dropdown-menu w-full mx-auto" id="method" formControlName="method">
              <option value="Cash">cash</option>
              <option value="Credit">credit</option>
            </select>
          </div>

          <div class="flex items-center">
            <input id="remember_me" name="remember_me" type="checkbox"
              class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border rounded" />
            <label for="remember_me" class="ml-2 block text-sm text-gray-900">
              I know that The service Provider is free of All responsiabily Related to providing this Service
            </label>
          </div>
          <div class="flex w-full mt-6">
            <button class="
                w-full
                bg-gray-800
                hover:bg-grey-900
                text-white text-sm
                py-2
                px-4
                font-semibold
                rounded
                focus:outline-none
                focus:shadow-outline
                h-10
              " type="submit" (click)="submit()">
              Send Request
            </button>
          </div>
        </form>
        <!--  <div class="mt-4">
          <a [routerLink]="['/']"  class="text-gray-700 text-sm hover:text-accent inline-flex items-center"><mat-icon class="h-4 w-4 leading-4 text-lg mr-2">keyboard_backspace</mat-icon>Go to Home</a>
        </div> -->
      </div>
    </div>
  </div>
</div>
