<div class="ll-hero">
  <ng-particles [id]="'home_hero__particles'" class="ll-hero__particles" [options]="particlesOptions"></ng-particles>
  <div class="container">
    <div class="grid grid-cols-12 gap-x-6">
      <div class="col-span-12 md:col-span-6 lg:col-span-7 xxl:col-span-6 ll-hero-text">
        <h1 class="lg:mt-12 text-white font-bold">
          Sallahly is the best application in Egypt to hire the best handymen in different categories.
        </h1>
        <a routerLink="/auth/signup" class="text-gray-700  font-semibold hover:text-accent signup"> Become a Handyman </a>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-5 xxl:col-span-6 ll-image mt-10 md:mt-0">
        <img class="imageo ml-auto" src="assets/images/Fix.png" alt="Hero" />
      </div>
    </div>
  </div>
</div>

<ll-home-products></ll-home-products>

<!-- <div class="ll-process-area bg-black mt-16">
  <div class="container">
    <h2 class="ll-process__title text-center text-warn mb-8">How it works</h2>
    <div class="ll-processes grid grid-cols-12 gap-8">
      <div class="ll-process col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">1</div>
        <h3 class="mb-2 text-warn font-bold">Choose</h3>
        <p class="text-white">You choose the micro-service that you need right now.</p>
      </div>
      <div class="ll-process col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">2</div>
        <h3 class="mb-2 text-warn font-bold">Book</h3>
        <p class="text-white">You choose the micro-service that you need right now.</p>
      </div>
      <div class="ll-process col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">3</div>
        <h3 class="mb-2 text-warn font-bold">Contact</h3>
        <p class="text-white">You choose the micro-service that you need right now.</p>
      </div>
      <div class="ll-process col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">4</div>
        <h3 class="mb-2 text-warn font-bold">Execution</h3>
        <p class="text-white">You choose the micro-service that you need right now.</p>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="pt-20 ll-starter">
  <div class="container">
    <h2 class="text-center mb-16 xl:mb-0">Start with you desire</h2>
    <div class="grid xl:grid-cols-2 gap-x-8 mt-10">
      <div class="ll-starter__card px-5 grid grid-cols-12 place-items-center">
        <div class="col-span-5 px-5">
          <img class="-mt-14" src="assets/images/starter-01.png" alt="" />
        </div>
        <div class="py-5 col-span-7">
          <h4 class="text-white mb-4">Start as a handyman</h4>
          <p class="text-white mb-7">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto asperiores eligendi 
            autem sed maiores dolorum repellendus quae nisi cumque minima.
          </p>
          <a
            [routerLink]="['/auth/signup']"
            routerLinkActive="router-link-active"
            mat-flat-button
            color="warn"
            class="font-semibold"
            >Join Now</a
          >
        </div>
      </div>
      <div class="ll-starter__card px-5 grid grid-cols-12 place-items-center mt-16 xl:mt-0">
        <div class="col-span-5 px-5">
          <img class="-mt-14" src="assets/images/starter-02.png" alt="" />
        </div>
        <div class="py-5 col-span-7 order-first text-right">
          <h4 class="text-white mb-4">Start as a user</h4>
          <p class="text-white mb-7">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum saepe a voluptatibus
             eos provident molestias sint maxime consectetur facere delectus!
          </p>
          <a
            [routerLink]="['/auth/signup']"
            routerLinkActive="router-link-active"
            mat-flat-button
            color="warn"
            class="font-semibold"
            >Join Now</a
          >
        </div>
      </div>
    </div>
  </div>
</div> -->
